<!DOCTYPE html>
<html ng-app="profile">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:title" content="Fellyph Cintra - Front-End Engineer"/>
		<meta property="og:type" content="profile"/>
		<meta property="og:description" content="I am currently working as a Front-end engineer at Elo7, where I develop an e-commerce of handmade products in Brasil and Argentina."/>
		<meta property="og:url" content="http://www.fellyph.com.br/"/>
		<meta property="og:site_name" content="Fellyph Cintra - Front-End Engineer"/>

		<meta name="author" content="Fellyph Cintra"/>
		<meta name="description" content="I am currently working as a Front-end engineer at Elo7, where I develop an e-commerce of handmade products in Brasil and Argentina."/>
		<meta name="keywords" content="Front-End engineer, Developer, WordPress, HTML5, JavaScript, CSS3"/>

		<link rel="stylesheet" href="assets/css/style.min.css" />
		<title>Fellyph Cintra - Front-End Engineer</title>
	</head>

	<body itemscope itemtype="https://schema.org/Person">
		<section class="main container" ng-controller="ProfileController as profile">
			<header class="top-site row">
				<img class="me" src="assets/img/fellyph.jpg" width="200" height="200" title="Fellyph Cintra" itemprop="image" alt="Fellyph Cintra">
				<h1 itemprop="name">FELLYPH CINTRA</h1>
				<h2 itemprop="jobTitle">Front-end engineer</h2>
			</header>

			<article class="bio row">
				<header>
					<h2>About</h2>
				</header>
				<div itemprop="description">
					<p>I have worked as a Web Developer since 2004. I am currently working as a Front-end engineer at <a href="http://www.elo7.com.br" title="Elo7" alt="Elo7 company">Elo7</a>, where I develop an e-commerce of handmade products in Brasil and Argentina. I’m also a teacher at DRC training center.</p>

					<p>My main focus is frond-end development and my strength is client-side in which I use HTML, CSS, JavaScript, SASS and Compass. On server-side I regularly use Java with vRaptor. I also use GIT for version control, GruntJS for automate tasks and tests with Jenkins.</p>
				</div>
			</article>

			<article class="social row">
				<header>
					<h2>Social</h2>
				</header>
				<ul class="social-list" ng-repeat="social in profile.socials">
					<li class="social-item">
						<a href="{{social.url}}" itemprop="url" title="{{social.titleUrl}}">
							<img ng-src="{{social.assets}}" width="120" height="120" title="{{social.title}}" alt="{{social.alt}}">
						</a>
					</li>
				</ul>
			</article>

			<article class="blog row">
			    <header>
			        <h2>Leia no Blog</h2>
			    </header>
			    <ul class="posts" ng-repeat="post in profile.posts">
			        <a href="{{post.link}}" title="{{post.title.rendered}}">
			            {{post.title.rendered}}
			        </a>
			        {{post.excerpt.rendered}}
			    </ul>
			</article>

			<article class="skills row" itemscope itemtype="http://schema.org/ItemList">
				<header>
					<h2>Skills</h2>
				</header>
				
				<ul class="skill-list">
					<li class="skill" itemprop="itemListElement">WordPress</li>
					<li class="skill" itemprop="itemListElement">Javascript</li>
					<li class="skill" itemprop="itemListElement">HTML5</li>
					<li class="skill" itemprop="itemListElement">CSS3</li>
					<li class="skill" itemprop="itemListElement">SASS</li>
					<li class="skill" itemprop="itemListElement">Java</li>
					<li class="skill" itemprop="itemListElement">Webworks</li>
					<li class="skill" itemprop="itemListElement">PHP</li>
				</ul>
			</article>
            <script type="text/javascript" src="assets/components/angular/angular.min.js"></script>
            <script type="text/javascript" src="assets/js/app.js"></script>
		</section>
	</body>
</html>